.sidebarWidth {
  --sidebar-width: 100%;
  width: var(--sidebar-width);
  transition: all 0.25s ease-out;
}

.sidebarWidth.sidebarOpen {
  max-width: var(--sidebar-width);
}

.sidebarWidth.sidebarClosed {
  max-width: 0;
}

.thumbnail {
  width: 100px;
  height: 75px;
}
