.sidebarContainer {
  width: 0;
}

.sidebarWidth {
  --sidebar-width: 480px;
  width: var(--sidebar-width);
  transition: all 0.25s ease-out;
}

.sidebarContainer.sidebarOpen {
  width: 100%;
}
.sidebarContainer.sidebarOpen .sidebarWidth {
  max-width: var(--sidebar-width);
}

.sidebarContainer.sidebarClosed {
  width: 0;
  transition-delay: 0.25s;
}
.sidebarContainer.sidebarClosed .sidebarWidth {
  max-width: 0;
}

.thumbnail {
  width: 100px;
  height: 75px;
}
