.sidebarWidth {
  --sidebar-width: 360px;
  width: var(--sidebar-width);
  transition: all 0.25s ease-out;
}

.sidebarWidth.sidebarOpen {
  max-width: var(--sidebar-width);
}

.sidebarWidth.sidebarClosed {
  max-width: 0;
}

.thumbnail {
  aspect-ratio: 4 / 3;
}
