/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;

    &.horizontal {
        flex-direction: row;
        height: auto;
        width: 100%;
    }

    .box-auto {
        flex-grow: 0 auto;
    }

    .box-main {
        flex-grow: 1;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.justify-self-center {
    justify-self: center;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

button {
    outline: none;
    border: 0.1rem;
    border-radius: 0.25rem;
    border-color: rgb(193, 193, 193);

    padding: 0.5rem 0.75rem;

    background-color: rgb(193, 193, 193);
    color: black;

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        outline: none;

        border-color: rgb(169, 169, 169);
        background-color: rgb(169, 169, 169);
    }
}

a,
button {
    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
    }

    fa-icon ~ * {
        margin-left: 0.5rem;
    }
}
